@import "variables";

:export {
  normalType: $normal-type;
  fireType: $fire-type;
  waterType: $water-type;
  grassType: $grass-type;
  electricType: $electric-type;
  iceType: $ice-type;
  fightingType: $fighting-type;
  poisonType: $poison-type;
  groundType: $ground-type;
  flyingType: $flying-type;
  psychicType: $psychic-type;
  bugType: $bug-type;
  rockType: $rock-type;
  ghostType: $ghost-type;
  darkType: $dark-type;
  dragonType: $dragon-type;
  steelType: $steel-type;
  fairyType: $fairy-type;
  normalTypeBg: $normal-type-bg;
  fireTypeBg: $fire-type-bg;
  waterTypeBg: $water-type-bg;
  grassTypeBg: $grass-type-bg;
  electricTypeBg: $electric-type-bg;
  iceTypeBg: $ice-type-bg;
  fightingTypeBg: $fighting-type-bg;
  poisonTypeBg: $poison-type-bg;
  groundTypeBg: $ground-type-bg;
  flyingTypeBg: $flying-type-bg;
  psychicTypeBg: $psychic-type-bg;
  bugTypeBg: $bug-type-bg;
  rockTypeBg: $rock-type-bg;
  ghostTypeBg: $ghost-type-bg;
  darkTypeBg: $dark-type-bg;
  dragonTypeBg: $dragon-type-bg;
  steelTypeBg: $steel-type-bg;
  fairyTypeBg: $fairy-type-bg;
}
