$normal-type: rgba(168, 168, 120);
$fire-type: rgba(240, 128, 48);
$water-type: rgba(104, 144, 240);
$grass-type: rgba(120, 200, 80);
$electric-type: rgba(248, 208, 48);
$ice-type: rgba(152, 216, 216);
$fighting-type: rgba(192, 48, 40);
$poison-type: rgba(160, 64, 160);
$ground-type: rgba(224, 192, 104);
$flying-type: rgba(168, 144, 240);
$psychic-type: rgba(248, 88, 136);
$bug-type: rgba(168, 184, 32);
$rock-type: rgba(184, 160, 56);
$ghost-type: rgba(112, 88, 152);
$dark-type: rgba(112, 88, 72);
$dragon-type: rgba(112, 56, 248);
$steel-type: rgba(184, 184, 208);
$fairy-type: rgba(240, 182, 188);

$normal-type-bg: rgba(168, 168, 120, 0.25);
$fire-type-bg: rgba(240, 128, 48, 0.25);
$water-type-bg: rgba(104, 144, 240, 0.25);
$grass-type-bg: rgba(120, 200, 80, 0.25);
$electric-type-bg: rgba(248, 208, 48, 0.25);
$ice-type-bg: rgba(152, 216, 216, 0.25);
$fighting-type-bg: rgba(192, 48, 40, 0.25);
$poison-type-bg: rgba(160, 64, 160, 0.25);
$ground-type-bg: rgba(224, 192, 104, 0.25);
$flying-type-bg: rgba(168, 144, 240, 0.25);
$psychic-type-bg: rgba(248, 88, 136, 0.25);
$bug-type-bg: rgba(168, 184, 32, 0.25);
$rock-type-bg: rgba(184, 160, 56, 0.25);
$ghost-type-bg: rgba(112, 88, 152, 0.25);
$dark-type-bg: rgba(112, 88, 72, 0.25);
$dragon-type-bg: rgba(112, 56, 248, 0.25);
$steel-type-bg: rgba(184, 184, 208, 0.25);
$fairy-type-bg: rgba(240, 182, 188, 0.25);

// ************************* TESTING DUAL TYPE POKEMON BG COLOR *************************

$normal-type-one-bg: rgba(168, 168, 120, 0.25);
$fire-type-one-bg: rgba(240, 128, 48, 0.25);
$water-type-one-bg: rgba(104, 144, 240, 0.25);
$grass-type-one-bg: rgba(120, 200, 80, 0.25);
$electric-type-one-bg: rgba(248, 208, 48, 0.25);
$ice-type-one-bg: rgba(152, 216, 216, 0.25);
$fighting-type-one-bg: rgba(192, 48, 40, 0.25);
$poison-type-one-bg: rgba(160, 64, 160, 0.25);
$ground-type-one-bg: rgba(224, 192, 104, 0.25);
$flying-type-one-bg: rgba(168, 144, 240, 0.25);
$psychic-type-one-bg: rgba(248, 88, 136, 0.25);
$bug-type-one-bg: rgba(168, 184, 32, 0.25);
$rock-type-one-bg: rgba(184, 160, 56, 0.25);
$ghost-type-one-bg: rgba(112, 88, 152, 0.25);
$dark-type-one-bg: rgba(112, 88, 72, 0.25);
$dragon-type-one-bg: rgba(112, 56, 248, 0.25);
$steel-type-one-bg: rgba(184, 184, 208, 0.25);
$fairy-type-one-bg: rgba(240, 182, 188, 0.25);

$normal-type-two-bg: rgba(168, 168, 120, 0.25);
$fire-type-two-bg: rgba(240, 128, 48, 0.25);
$water-type-two-bg: rgba(104, 144, 240, 0.25);
$grass-type-two-bg: rgba(120, 200, 80, 0.25);
$electric-type-two-bg: rgba(248, 208, 48, 0.25);
$ice-type-two-bg: rgba(152, 216, 216, 0.25);
$fighting-type-two-bg: rgba(192, 48, 40, 0.25);
$poison-type-two-bg: rgba(160, 64, 160, 0.25);
$ground-type-two-bg: rgba(224, 192, 104, 0.25);
$flying-type-two-bg: rgba(168, 144, 240, 0.25);
$psychic-type-two-bg: rgba(248, 88, 136, 0.25);
$bug-type-two-bg: rgba(168, 184, 32, 0.25);
$rock-type-two-bg: rgba(184, 160, 56, 0.25);
$ghost-type-two-bg: rgba(112, 88, 152, 0.25);
$dark-type-two-bg: rgba(112, 88, 72, 0.25);
$dragon-type-two-bg: rgba(112, 56, 248, 0.25);
$steel-type-two-bg: rgba(184, 184, 208, 0.25);
$fairy-type-two-bg: rgba(240, 182, 188, 0.25);

// ***************************************************************************

:export {
  normalType: $normal-type;
  fireType: $fire-type;
  waterType: $water-type;
  grassType: $grass-type;
  electricType: $electric-type;
  iceType: $ice-type;
  fightingType: $fighting-type;
  poisonType: $poison-type;
  groundType: $ground-type;
  flyingType: $flying-type;
  psychicType: $psychic-type;
  bugType: $bug-type;
  rockType: $rock-type;
  ghostType: $ghost-type;
  darkType: $dark-type;
  dragonType: $dragon-type;
  steelType: $steel-type;
  fairyType: $fairy-type;
  normalTypeBg: $normal-type-bg;
  fireTypeBg: $fire-type-bg;
  waterTypeBg: $water-type-bg;
  grassTypeBg: $grass-type-bg;
  electricTypeBg: $electric-type-bg;
  iceTypeBg: $ice-type-bg;
  fightingTypeBg: $fighting-type-bg;
  poisonTypeBg: $poison-type-bg;
  groundTypeBg: $ground-type-bg;
  flyingTypeBg: $flying-type-bg;
  psychicTypeBg: $psychic-type-bg;
  bugTypeBg: $bug-type-bg;
  rockTypeBg: $rock-type-bg;
  ghostTypeBg: $ghost-type-bg;
  darkTypeBg: $dark-type-bg;
  dragonTypeBg: $dragon-type-bg;
  steelTypeBg: $steel-type-bg;
  fairyTypeBg: $fairy-type-bg;
}
