@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  background-color: #ecf0f1;
  margin: 0;
}

header {
  background-color: #e74c3c;
  display: flex;
}

h1 {
  color: #000;
}

form {
  margin: 5px;
}

.searchPokemonForm {
  align-self: end;
}

.searchPokemonBar {
  justify-content: baseline;
  // align-items: end;
}

.card {
  width: 10rem;
  margin: 10px;
  border-radius: 15px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card-img {
  margin-top: -60px;
}

.modal-pokemon-img {
  margin-left: -100px;
  margin-top: -100px;
  width: 150%;
}

.modal-ability-info {
  border: 1px solid #000;
  border-radius: 5px;
}

.abilities-heading {
  border-bottom: 1px solid #000;
}

.hidden-ability {
  font-size: small;
  margin-top: -15px;
}

hr {
  color: #000;
}

.ability-description {
  margin: 5px;
}

.modal-stats,
.ability-name {
  text-transform: capitalize;
}

.loading {
  width: 30%;
  height: 30%;
  margin-top: 100px;
}

.hash {
  color: #a9a9a9;
  font-size: 30px;
}

.pokemon-id {
  color: #a9a9a9;
  font-size: 50px;
}

.modal-hash {
  color: #a9a9a9;
  font-size: 70px;
  margin-top: -20px;
}

.modal-pokemon-id {
  color: #a9a9a9;
  font-size: 100px;
  margin-top: -5px;
}

.hp-caps {
  text-transform: uppercase;
}

.pokemon-name,
.modal-title {
  text-transform: capitalize;
}

.type-span {
  margin-bottom: 5px;
}

.type {
  border-style: solid none;
  border-width: 1px;
  border-radius: 5px;
  padding-right: 3px;
  padding-left: 3px;
  font-variant: small-caps;
  font-size: 9pt;
  text-shadow: 0 1px 1px #807870;
  margin-right: 5px;
}

.modal-type {
  border-style: solid none;
  border-width: 1px;
  border-radius: 5px;
  padding-right: 3px;
  padding-left: 3px;
  font-variant: small-caps;
  font-size: 16pt;
  text-shadow: 0 1px 1px #807870;
  margin-right: 5px;
}

.type-text {
  color: #f8f8f8;
  font-size: 13px;
  font-family: "Roboto:400", sans-serif !important;
  font-weight: 400;
  text-transform: capitalize;
}

.modal-type-text {
  color: #f8f8f8;
  font-size: 20px;
  font-family: "Roboto:400", sans-serif !important;
  font-weight: 400;
  text-transform: capitalize;
}

.type-area {
  margin-bottom: 10px;
}

.normal {
  background-color: #a8a878;
  border-top-color: #d8d8d0;
  border-bottom-color: #705848;
}

.fire {
  background-color: #f08030;
  border-top-color: #f8d030;
  border-bottom-color: #c03028;
}

.water {
  background-color: #6890f0;
  border-top-color: #98d8d8;
  border-bottom-color: #807870;
}

.grass {
  background-color: #78c850;
  border-top-color: #c0f860;
  border-bottom-color: #588040;
}

.electric {
  background-color: #f8d030;
  border-top-color: #f8f878;
  border-bottom-color: #b8a038;
}

.ice {
  background-color: #98d8d8;
  border-top-color: #d0f8e8;
  border-bottom-color: #9090a0;
}

.fighting {
  background-color: #c03028;
  border-top-color: #f08030;
  border-bottom-color: #484038;
}

.poison {
  background-color: #a040a0;
  border-top-color: #d880b8;
  border-bottom-color: #483850;
}

.ground {
  background-color: #e0c068;
  border-top-color: #f8f878;
  border-bottom-color: #886830;
}

.flying {
  background-color: #a890f0;
  border-top-color: #c8c0f8;
  border-bottom-color: #705898;
}

.psychic {
  background-color: #f85888;
  border-top-color: #f8c0b0;
  border-bottom-color: #789010;
}

.bug {
  background-color: #a8b820;
  border-top-color: #d8e030;
  border-bottom-color: #a8b820;
}

.rock {
  background-color: #b8a038;
  border-top-color: #e0c068;
  border-bottom-color: #886830;
}

.ghost {
  background-color: #705898;
  border-top-color: #a890f0;
  border-bottom-color: #483850;
}

.dark {
  background-color: #705848;
  border-top-color: #a8a878;
  border-bottom-color: #484038;
}

.dragon {
  background-color: #7038f8;
  border-top-color: #b8a0f8;
  border-bottom-color: #483890;
}

.steel {
  background-color: #b8b8d0;
  border-top-color: #d8d8c0;
  border-bottom-color: #807870;
}

.fairy {
  background-color: #f0b6bc;
  border-top-color: #f5cad1;
  border-bottom-color: #905f63;
}

// @media only screen and (max-width: 600px) {
//   .modal-pokemon-img {
//     margin-left: -20px;
//     margin-top: -50px;
//     width: 110%;
//   }
// }
