@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
:export {
  normalType: #a8a878;
  fireType: #f08030;
  waterType: #6890f0;
  grassType: #78c850;
  electricType: #f8d030;
  iceType: #98d8d8;
  fightingType: #c03028;
  poisonType: #a040a0;
  groundType: #e0c068;
  flyingType: #a890f0;
  psychicType: #f85888;
  bugType: #a8b820;
  rockType: #b8a038;
  ghostType: #705898;
  darkType: #c9bcb3;
  dragonType: #7038f8;
  steelType: #b8b8d0;
  fairyType: #f0b6bc;
  normalTypeBg: rgba(168, 168, 120, 0.15);
  fireTypeBg: rgba(240, 128, 48, 0.15);
  waterTypeBg: rgba(104, 144, 240, 0.15);
  grassTypeBg: rgba(120, 200, 80, 0.15);
  electricTypeBg: rgba(248, 208, 48, 0.15);
  iceTypeBg: rgba(152, 216, 216, 0.15);
  fightingTypeBg: rgba(192, 48, 40, 0.15);
  poisonTypeBg: rgba(160, 64, 160, 0.15);
  groundTypeBg: rgba(224, 192, 104, 0.15);
  flyingTypeBg: rgba(168, 144, 240, 0.15);
  psychicTypeBg: rgba(248, 88, 136, 0.15);
  bugTypeBg: rgba(168, 184, 32, 0.15);
  rockTypeBg: rgba(184, 160, 56, 0.15);
  ghostTypeBg: rgba(112, 88, 152, 0.15);
  darkTypeBg: rgba(201, 188, 179, 0.15);
  dragonTypeBg: rgba(112, 56, 248, 0.15);
  steelTypeBg: rgba(184, 184, 208, 0.15);
  fairyTypeBg: rgba(240, 182, 188, 0.15);
}

body {
  background-color: #ecf0f1;
  margin: 0;
}

header {
  background-color: #e74c3c;
}

h1 {
  color: #000;
}

form {
  margin: 5px;
}

.pokedex-logo {
  margin: 10px 0;
  cursor: pointer;
}

.top-nav {
  background-color: #d34535;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.section-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.section-pages .section-button {
  display: inline-block;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
}

.section-button:hover {
  cursor: pointer;
}

.hamburger {
  background-color: transparent;
  border: none;
  display: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.sort-filter-area {
  margin: 10px 0;
}

.card {
  width: 10rem;
  margin: 10px;
  border-radius: 15px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card-img {
  margin-top: -60px;
}

.modal-pokemon-img {
  margin-left: -100px;
  margin-top: -100px;
  width: 150%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators,
.carousel-indicator-mark {
  background-color: #888;
}

.carousel-caption {
  color: #000;
}

.abilities-heading {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.horizontal-divider {
  border-top: 1px solid #000;
}

.hidden-ability {
  font-size: small;
  margin-top: -15px;
}

.ability-description {
  margin: 5px;
}

.modal-stats,
.ability-name,
.move-caps,
.form-names {
  text-transform: capitalize;
}

.loading {
  width: 30%;
  height: 30%;
  margin-top: 100px;
}

.hash {
  color: #a9a9a9;
  font-size: 30px;
}

.pokemon-id {
  color: #a9a9a9;
  font-size: 50px;
}

.modal-title {
  font-size: 50px;
}

.modal-header,
.modal-ability-info {
  background-color: #e74c3c;
  color: #fff;
}

.modal-hash {
  color: #a9a9a9;
  font-size: 70px;
  margin-top: -20px;
}

.modal-pokemon-id {
  color: #a9a9a9;
  font-size: 100px;
  margin-top: -5px;
}

.hp-caps {
  text-transform: uppercase;
}

.pokemon-name,
.modal-title {
  text-transform: capitalize;
}

.type-span {
  margin-bottom: 5px;
}

.type {
  border-style: solid none;
  border-width: 1px;
  border-radius: 5px;
  padding-right: 3px;
  padding-left: 3px;
  font-variant: small-caps;
  font-size: 9pt;
  text-shadow: 0 1px 1px #807870;
  margin-right: 5px;
}

.modal-type {
  border-style: solid none;
  border-width: 1px;
  border-radius: 5px;
  padding-right: 3px;
  padding-left: 3px;
  font-variant: small-caps;
  font-size: 16pt;
  text-shadow: 0 1px 1px #807870;
  margin-right: 5px;
}

.type-text {
  color: #f8f8f8;
  font-size: 13px;
  font-family: "Roboto:400", sans-serif !important;
  font-weight: 400;
  text-transform: capitalize;
}

.modal-type-text {
  color: #f8f8f8;
  font-size: 20px;
  font-family: "Roboto:400", sans-serif !important;
  font-weight: 400;
  text-transform: capitalize;
}

.type-area {
  margin-bottom: 10px;
}

.normal {
  background-color: #a8a878;
  border-top-color: #d8d8d0;
  border-bottom-color: #705848;
}

.fire {
  background-color: #f08030;
  border-top-color: #f8d030;
  border-bottom-color: #c03028;
}

.water {
  background-color: #6890f0;
  border-top-color: #98d8d8;
  border-bottom-color: #807870;
}

.grass {
  background-color: #78c850;
  border-top-color: #c0f860;
  border-bottom-color: #588040;
}

.electric {
  background-color: #f8d030;
  border-top-color: #f8f878;
  border-bottom-color: #b8a038;
}

.ice {
  background-color: #98d8d8;
  border-top-color: #d0f8e8;
  border-bottom-color: #9090a0;
}

.fighting {
  background-color: #c03028;
  border-top-color: #f08030;
  border-bottom-color: #484038;
}

.poison {
  background-color: #a040a0;
  border-top-color: #d880b8;
  border-bottom-color: #483850;
}

.ground {
  background-color: #e0c068;
  border-top-color: #f8f878;
  border-bottom-color: #886830;
}

.flying {
  background-color: #a890f0;
  border-top-color: #c8c0f8;
  border-bottom-color: #705898;
}

.psychic {
  background-color: #f85888;
  border-top-color: #f8c0b0;
  border-bottom-color: #789010;
}

.bug {
  background-color: #a8b820;
  border-top-color: #d8e030;
  border-bottom-color: #a8b820;
}

.rock {
  background-color: #b8a038;
  border-top-color: #e0c068;
  border-bottom-color: #886830;
}

.ghost {
  background-color: #705898;
  border-top-color: #a890f0;
  border-bottom-color: #483850;
}

.dark {
  background-color: #c9bcb3;
  border-top-color: #a8a878;
  border-bottom-color: #484038;
}

.dragon {
  background-color: #7038f8;
  border-top-color: #b8a0f8;
  border-bottom-color: #483890;
}

.steel {
  background-color: #b8b8d0;
  border-top-color: #d8d8c0;
  border-bottom-color: #807870;
}

.fairy {
  background-color: #f0b6bc;
  border-top-color: #f5cad1;
  border-bottom-color: #905f63;
}

.dual-type-bg {
  background: linear-gradient(135deg, rgba(240, 128, 48, 0.15) 50%, rgba(104, 144, 240, 0.15) 50%);
}

.ability-table {
  margin-top: 35px;
}

#sortAbilityOptions {
  margin-top: 20px;
}

ol.move-stats {
  padding-left: 0;
}

ol.move-stats li {
  list-style-type: none;
}

.move-table-body tr,
.ability-table-body tr {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.pokemon-background-normal {
  background: rgba(168, 168, 120, 0.15);
}

.pokemon-background-fire {
  background: rgba(240, 128, 48, 0.15);
}

.pokemon-background-water {
  background: rgba(104, 144, 240, 0.15);
}

.pokemon-background-grass {
  background: rgba(120, 200, 80, 0.15);
}

.pokemon-background-electric {
  background: rgba(248, 208, 48, 0.15);
}

.pokemon-background-ice {
  background: rgba(152, 216, 216, 0.15);
}

.pokemon-background-fighting {
  background: rgba(192, 48, 40, 0.15);
}

.pokemon-background-poison {
  background: rgba(160, 64, 160, 0.15);
}

.pokemon-background-ground {
  background: rgba(224, 192, 104, 0.15);
}

.pokemon-background-flying {
  background: rgba(168, 144, 240, 0.15);
}

.pokemon-background-psychic {
  background: rgba(248, 88, 136, 0.15);
}

.pokemon-background-bug {
  background: rgba(168, 184, 32, 0.15);
}

.pokemon-background-rock {
  background: rgba(184, 160, 56, 0.15);
}

.pokemon-background-ghost {
  background: rgba(112, 88, 152, 0.15);
}

.pokemon-background-dark {
  background: rgba(201, 188, 179, 0.15);
}

.pokemon-background-dragon {
  background: rgba(112, 56, 248, 0.15);
}

.pokemon-background-steel {
  background: rgba(184, 184, 208, 0.15);
}

.pokemon-background-fairy {
  background: rgba(240, 182, 188, 0.15);
}

@media screen and (max-width: 700px) {
  .pokedex-logo {
    width: 75%;
  }

  .section-button {
    padding: 10px;
  }

  .section-pages {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  #section-buttons.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .modal-pokemon-img {
    width: 100%;
    margin-left: 0;
    margin-top: -70px;
  }

  .pokemon-info {
    display: flex;
    flex-direction: column-reverse;
  }

  .modal-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sort-filter-area {
    margin: 5px 0;
    display: flex;
    flex-flow: column wrap;
  }

  .ability-id,
.pokemon-with-move,
.move-id {
    display: none;
  }

  .move-table-font-size {
    font-size: 14.75px;
  }
}

/*# sourceMappingURL=styles.css.map */
