@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import "variables.scss";

body {
  background-color: #ecf0f1;
  margin: 0;
}

header {
  background-color: #e74c3c;
}

h1 {
  color: #000;
}

form {
  margin: 5px;
}

.pokedex-logo {
  margin: 10px 0;
  cursor: pointer;
}

.top-nav {
  background-color: #d34535;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.searchPokemonBar {
  border-radius: 30px;
  padding: 0 10px;
}

.dropdown {
  border-radius: 30px;
  padding: 2px;
}

.section-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.section-pages .section-button {
  // background-color: #d34535;
  display: inline-block;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
}

.section-button.active {
  background-color: #ecf0f1;
  color: #000;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.section-button {
  margin-bottom: -16px;
}

.section-button:hover {
  cursor: pointer;
  background-color: #e74c3c;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.hamburger {
  background-color: transparent;
  border: none;
  display: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.sort-filter-area {
  margin: 10px 0;
}

.typeOptions1 {
  margin: 0 10px;
}

.card {
  width: 10rem;
  margin: 10px;
  border-radius: 15px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

// .card-img {
//   margin-bottom: 10px;
// }

.spotlight {
  background: #ecf0f1;
  height: 120%;
  width: 100%;
  margin-top: -40px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.pokemon-card {
  height: fit-content;
}

// .pokemon-name,
// .pokemon-card-type {
//   margin-top: -20px;
// }

.modal-pokemon-img {
  // margin-left: -100px;
  margin-top: -100px;
  // width: 150%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators,
.carousel-indicator-mark {
  background-color: #888;
}

.carousel-caption {
  color: #000;
}

.abilities-heading {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.horizontal-divider {
  border-top: 1px solid #000;
}

.hidden-ability {
  font-size: small;
  margin-top: -15px;
  text-transform: capitalize;
}

.ability-description {
  margin: 5px;
}

.modal-stats,
.ability-name,
.move-caps,
.form-names {
  text-transform: capitalize;
}

.loading {
  width: 30%;
  height: 30%;
  margin-top: 100px;
}

.hash {
  color: #a9a9a9;
  font-size: 30px;
}

.pokemon-id {
  color: #a9a9a9;
  font-size: 50px;
}

.modal-title {
  font-size: 50px;
}

.modal-header {
  border-bottom: 1px solid #000;
}

.modal-header,
.modal-ability-info {
  background-color: #e74c3c;
  color: #fff;
}

.modal-hash {
  color: #a9a9a9;
  font-size: 70px;
  margin-top: -20px;
}

.modal-pokemon-id {
  color: #a9a9a9;
  font-size: 100px;
  margin-top: -5px;
}

.hp-caps {
  text-transform: uppercase;
}

.pokemon-name,
.modal-title {
  text-transform: capitalize;
}

.type-span {
  margin-bottom: 5px;
}

.type {
  border-style: solid none;
  border-width: 1px;
  border-radius: 5px;
  padding-right: 3px;
  padding-left: 3px;
  font-variant: small-caps;
  font-size: 9pt;
  text-shadow: 0 1px 1px #807870;
  margin-right: 5px;
}

.modal-type {
  border-style: solid none;
  border-width: 1px;
  border-radius: 5px;
  padding-right: 3px;
  padding-left: 3px;
  font-variant: small-caps;
  font-size: 16pt;
  text-shadow: 0 1px 1px #807870;
  margin-right: 5px;
}

.type-text {
  color: #f8f8f8;
  font-size: 13px;
  font-family: "Roboto:400", sans-serif !important;
  font-weight: 400;
  text-transform: capitalize;
}

.modal-type-text {
  color: #f8f8f8;
  font-size: 20px;
  font-family: "Roboto:400", sans-serif !important;
  font-weight: 400;
  text-transform: capitalize;
}

.type-area {
  margin-bottom: 10px;
}

.normal {
  background-color: $normal-type;
  border-top-color: #d8d8d0;
  border-bottom-color: #705848;
}

.fire {
  background-color: $fire-type;
  border-top-color: #f8d030;
  border-bottom-color: #c03028;
}

.water {
  background-color: $water-type;
  border-top-color: #98d8d8;
  border-bottom-color: #807870;
}

.grass {
  background-color: $grass-type;
  border-top-color: #c0f860;
  border-bottom-color: #588040;
}

.electric {
  background-color: $electric-type;
  border-top-color: #f8f878;
  border-bottom-color: #b8a038;
}

.ice {
  background-color: $ice-type;
  border-top-color: #d0f8e8;
  border-bottom-color: #9090a0;
}

.fighting {
  background-color: $fighting-type;
  border-top-color: #f08030;
  border-bottom-color: #484038;
}

.poison {
  background-color: $poison-type;
  border-top-color: #d880b8;
  border-bottom-color: #483850;
}

.ground {
  background-color: $ground-type;
  border-top-color: #f8f878;
  border-bottom-color: #886830;
}

.flying {
  background-color: $flying-type;
  border-top-color: #c8c0f8;
  border-bottom-color: #705898;
}

.psychic {
  background-color: $psychic-type;
  border-top-color: #f8c0b0;
  border-bottom-color: #789010;
}

.bug {
  background-color: $bug-type;
  border-top-color: #d8e030;
  border-bottom-color: #a8b820;
}

.rock {
  background-color: $rock-type;
  border-top-color: #e0c068;
  border-bottom-color: #886830;
}

.ghost {
  background-color: $ghost-type;
  border-top-color: #a890f0;
  border-bottom-color: #483850;
}

.dark {
  background-color: $dark-type;
  border-top-color: #a8a878;
  border-bottom-color: #484038;
}

.dragon {
  background-color: $dragon-type;
  border-top-color: #b8a0f8;
  border-bottom-color: #483890;
}

.steel {
  background-color: $steel-type;
  border-top-color: #d8d8c0;
  border-bottom-color: #807870;
}

.fairy {
  background-color: $fairy-type;
  border-top-color: #f5cad1;
  border-bottom-color: #905f63;
}

.ability-table {
  margin-top: 35px;
}

#sortAbilityOptions {
  margin-top: 20px;
}

ol.move-stats {
  padding-left: 0;
}

ol.move-stats li {
  list-style-type: none;
}

.move-table-body tr,
.ability-table-body tr {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.pokemon-bg-normal {
  background: $normal-type-bg;
}

.pokemon-bg-fire {
  background: $fire-type-bg;
}

.pokemon-bg-water {
  background: $water-type-bg;
}

.pokemon-bg-grass {
  background: $grass-type-bg;
}

.pokemon-bg-electric {
  background: $electric-type-bg;
}

.pokemon-bg-ice {
  background: $ice-type-bg;
}

.pokemon-bg-fighting {
  background: $fighting-type-bg;
}

.pokemon-bg-poison {
  background: $poison-type-bg;
}

.pokemon-bg-ground {
  background: $ground-type-bg;
}

.pokemon-bg-flying {
  background: $flying-type-bg;
}

.pokemon-bg-psychic {
  background: $psychic-type-bg;
}

.pokemon-bg-bug {
  background: $bug-type-bg;
}

.pokemon-bg-rock {
  background: $rock-type-bg;
}

.pokemon-bg-ghost {
  background: $ghost-type-bg;
}

.pokemon-bg-dark {
  background: $dark-type-bg;
}

.pokemon-bg-dragon {
  background: $dragon-type-bg;
}

.pokemon-bg-steel {
  background: $steel-type-bg;
}

.pokemon-bg-fairy {
  background: $fairy-type-bg;
}

.pokemon-bg-type-one-normal {
  background: linear-gradient(
    135deg,
    $normal-type-one-bg 50%,
    rgba(160, 64, 160, 0) 50%
  );
}

.pokemon-bg-type-one-fire {
  background: linear-gradient(
    135deg,
    $fire-type-one-bg 50%,
    rgba(160, 64, 160, 0) 50%
  );
}

.pokemon-bg-type-one-water {
  background: linear-gradient(
    135deg,
    $water-type-one-bg 50%,
    rgba(160, 64, 160, 0) 50%
  );
}

.pokemon-bg-type-one-grass {
  background: linear-gradient(
    135deg,
    $grass-type-one-bg 50%,
    rgba(160, 64, 160, 0) 50%
  );
}

.pokemon-bg-type-one-electric {
  background: linear-gradient(
    135deg,
    $electric-type-one-bg 50%,
    rgba(160, 64, 160, 0) 50%
  );
}

.pokemon-bg-type-one-ice {
  background: linear-gradient(
    135deg,
    $ice-type-one-bg 50%,
    rgba(160, 64, 160, 0) 50%
  );
}

.pokemon-bg-type-one-fighting {
  background: linear-gradient(
    135deg,
    $fighting-type-one-bg 50%,
    rgba(160, 64, 160, 0) 50%
  );
}

.pokemon-bg-type-one-poison {
  background: linear-gradient(
    135deg,
    $poison-type-one-bg 50%,
    rgba(160, 64, 160, 0) 50%
  );
}

.pokemon-bg-type-one-ground {
  background: linear-gradient(
    135deg,
    $ground-type-one-bg 50%,
    rgba(160, 64, 160, 0) 50%
  );
}

.pokemon-bg-type-one-flying {
  background: linear-gradient(
    135deg,
    $flying-type-one-bg 50%,
    rgba(160, 64, 160, 0) 50%
  );
}

.pokemon-bg-type-one-psychic {
  background: linear-gradient(
    135deg,
    $psychic-type-one-bg 50%,
    rgba(160, 64, 160, 0) 50%
  );
}

.pokemon-bg-type-one-bug {
  background: linear-gradient(
    135deg,
    $bug-type-one-bg 50%,
    rgba(160, 64, 160, 0) 50%
  );
}

.pokemon-bg-type-one-rock {
  background: linear-gradient(
    135deg,
    $rock-type-one-bg 50%,
    rgba(160, 64, 160, 0) 50%
  );
}

.pokemon-bg-type-one-ghost {
  background: linear-gradient(
    135deg,
    $ghost-type-one-bg 50%,
    rgba(160, 64, 160, 0) 50%
  );
}

.pokemon-bg-type-one-dark {
  background: linear-gradient(
    135deg,
    $dark-type-one-bg 50%,
    rgba(160, 64, 160, 0) 50%
  );
}

.pokemon-bg-type-one-dragon {
  background: linear-gradient(
    135deg,
    $dragon-type-one-bg 50%,
    rgba(160, 64, 160, 0) 50%
  );
}

.pokemon-bg-type-one-steel {
  background: linear-gradient(
    135deg,
    $steel-type-one-bg 50%,
    rgba(160, 64, 160, 0) 50%
  );
}

.pokemon-bg-type-one-fairy {
  background: linear-gradient(
    135deg,
    $fairy-type-one-bg 50%,
    rgba(160, 64, 160, 0) 50%
  );
}

.pokemon-bg-type-two-normal {
  background: linear-gradient(
    135deg,
    rgba(120, 200, 80, 0) 50%,
    $normal-type-two-bg 50%
  );
  border-radius: 15px;
  padding: 0 12px 12px 12px;
}

.pokemon-bg-type-two-fire {
  background: linear-gradient(
    135deg,
    rgba(120, 200, 80, 0) 50%,
    $fire-type-two-bg 50%
  );
  border-radius: 15px;
  padding: 0 12px 12px 12px;
}

.pokemon-bg-type-two-water {
  background: linear-gradient(
    135deg,
    rgba(120, 200, 80, 0) 50%,
    $water-type-two-bg 50%
  );
  border-radius: 15px;
  padding: 0 12px 12px 12px;
}

.pokemon-bg-type-two-grass {
  background: linear-gradient(
    135deg,
    rgba(120, 200, 80, 0) 50%,
    $grass-type-two-bg 50%
  );
  border-radius: 15px;
  padding: 0 12px 12px 12px;
}

.pokemon-bg-type-two-electric {
  background: linear-gradient(
    135deg,
    rgba(120, 200, 80, 0) 50%,
    $electric-type-two-bg 50%
  );
  border-radius: 15px;
  padding: 0 12px 12px 12px;
}

.pokemon-bg-type-two-ice {
  background: linear-gradient(
    135deg,
    rgba(120, 200, 80, 0) 50%,
    $ice-type-two-bg 50%
  );
  border-radius: 15px;
  padding: 0 12px 12px 12px;
}

.pokemon-bg-type-two-fighting {
  background: linear-gradient(
    135deg,
    rgba(120, 200, 80, 0) 50%,
    $fighting-type-two-bg 50%
  );
  border-radius: 15px;
  padding: 0 12px 12px 12px;
}

.pokemon-bg-type-two-poison {
  background: linear-gradient(
    135deg,
    rgba(120, 200, 80, 0) 50%,
    $poison-type-two-bg 50%
  );
  border-radius: 15px;
  padding: 0 12px 12px 12px;
}

.pokemon-bg-type-two-ground {
  background: linear-gradient(
    135deg,
    rgba(120, 200, 80, 0) 50%,
    $ground-type-two-bg 50%
  );
  border-radius: 15px;
  padding: 0 12px 12px 12px;
}

.pokemon-bg-type-two-flying {
  background: linear-gradient(
    135deg,
    rgba(120, 200, 80, 0) 50%,
    $flying-type-two-bg 50%
  );
  border-radius: 15px;
  padding: 0 12px 12px 12px;
}

.pokemon-bg-type-two-psychic {
  background: linear-gradient(
    135deg,
    rgba(120, 200, 80, 0) 50%,
    $psychic-type-two-bg 50%
  );
  border-radius: 15px;
  padding: 0 12px 12px 12px;
}

.pokemon-bg-type-two-bug {
  background: linear-gradient(
    135deg,
    rgba(120, 200, 80, 0) 50%,
    $bug-type-two-bg 50%
  );
  border-radius: 15px;
  padding: 0 12px 12px 12px;
}

.pokemon-bg-type-two-rock {
  background: linear-gradient(
    135deg,
    rgba(120, 200, 80, 0) 50%,
    $rock-type-two-bg 50%
  );
  border-radius: 15px;
  padding: 0 12px 12px 12px;
}

.pokemon-bg-type-two-ghost {
  background: linear-gradient(
    135deg,
    rgba(120, 200, 80, 0) 50%,
    $ghost-type-two-bg 50%
  );
  border-radius: 15px;
  padding: 0 12px 12px 12px;
}

.pokemon-bg-type-two-dark {
  background: linear-gradient(
    135deg,
    rgba(120, 200, 80, 0) 50%,
    $dark-type-two-bg 50%
  );
  border-radius: 15px;
  padding: 0 12px 12px 12px;
}

.pokemon-bg-type-two-dragon {
  background: linear-gradient(
    135deg,
    rgba(120, 200, 80, 0) 50%,
    $dragon-type-two-bg 50%
  );
  border-radius: 15px;
  padding: 0 12px 12px 12px;
}

.pokemon-bg-type-two-steel {
  background: linear-gradient(
    135deg,
    rgba(120, 200, 80, 0) 50%,
    $steel-type-two-bg 50%
  );
  border-radius: 15px;
  padding: 0 12px 12px 12px;
}

.pokemon-bg-type-two-fairy {
  background: linear-gradient(
    135deg,
    rgba(120, 200, 80, 0) 50%,
    $fairy-type-two-bg 50%
  );
  border-radius: 15px;
  padding: 0 12px 12px 12px;
}

.alt-form-ability {
  text-transform: capitalize;
}

@media screen and (max-width: 700px) {
  .pokedex-logo {
    width: 75%;
  }

  .section-button {
    padding: 10px;
    // margin-top: 1px;
    align-items: end;
  }

  .section-button.active {
    background-color: #fff;
    color: #000;
    // border-radius: 0;
  }

  .section-pages {
    display: none;
    flex-direction: row;
    width: 100%;
  }

  .show {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .pokemon-info {
    display: flex;
    flex-direction: column-reverse;
  }

  .modal-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sort-filter-area {
    margin: 5px 0;
    display: flex;
    flex-flow: column wrap;
  }

  .ability-id,
  .pokemon-with-move,
  .move-id {
    display: none;
  }

  .move-table-font-size {
    font-size: 14.75px;
  }
}
