@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import "./_variables.scss";

body {
  background-color: #ecf0f1;
  margin: 0;
}

header {
  background-color: #e74c3c;
}

h1 {
  color: #000;
}

form {
  margin: 5px;
}

.pokedex-logo {
  margin: 10px 0;
  cursor: pointer;
}

// ------------------ HAMBURGER MENU TESTING START! --------------------------
.top-nav {
  background-color: #d34535;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.section-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.section-pages .section-button {
  // background-color: #d34535;
  display: inline-block;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
}

.section-button:hover {
  cursor: pointer;
  // background-color: #e74c3c;
}

.hamburger {
  background-color: transparent;
  border: none;
  display: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

// .hamburger:focus {
//   outline: none;
// }
// ------------------ HAMBURGER MENU TESTING END! --------------------------

.sort-filter-area {
  margin: 10px 0;
}

.card {
  width: 10rem;
  margin: 10px;
  border-radius: 15px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card-img {
  margin-top: -60px;
}

.modal-pokemon-img {
  margin-left: -100px;
  margin-top: -100px;
  width: 150%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators,
.carousel-indicator-mark {
  background-color: #888;
}

.carousel-caption {
  color: #000;
}

// .modal-ability-info {
//   border: 1px solid #000;
// }

.abilities-heading {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.horizontal-divider {
  border-top: 1px solid #000;
}

.hidden-ability {
  font-size: small;
  margin-top: -15px;
}

.ability-description {
  margin: 5px;
}

.modal-stats,
.ability-name,
.move-caps,
.form-names {
  text-transform: capitalize;
}

.loading {
  width: 30%;
  height: 30%;
  margin-top: 100px;
}

.hash {
  color: #a9a9a9;
  font-size: 30px;
}

.pokemon-id {
  color: #a9a9a9;
  font-size: 50px;
}

.modal-title {
  font-size: 50px;
}

.modal-header,
.modal-ability-info {
  background-color: #e74c3c;
  color: #fff;
}

.modal-hash {
  color: #a9a9a9;
  font-size: 70px;
  margin-top: -20px;
}

.modal-pokemon-id {
  color: #a9a9a9;
  font-size: 100px;
  margin-top: -5px;
}

.hp-caps {
  text-transform: uppercase;
}

.pokemon-name,
.modal-title {
  text-transform: capitalize;
}

.type-span {
  margin-bottom: 5px;
}

.type {
  border-style: solid none;
  border-width: 1px;
  border-radius: 5px;
  padding-right: 3px;
  padding-left: 3px;
  font-variant: small-caps;
  font-size: 9pt;
  text-shadow: 0 1px 1px #807870;
  margin-right: 5px;
}

.modal-type {
  border-style: solid none;
  border-width: 1px;
  border-radius: 5px;
  padding-right: 3px;
  padding-left: 3px;
  font-variant: small-caps;
  font-size: 16pt;
  text-shadow: 0 1px 1px #807870;
  margin-right: 5px;
}

.type-text {
  color: #f8f8f8;
  font-size: 13px;
  font-family: "Roboto:400", sans-serif !important;
  font-weight: 400;
  text-transform: capitalize;
}

.modal-type-text {
  color: #f8f8f8;
  font-size: 20px;
  font-family: "Roboto:400", sans-serif !important;
  font-weight: 400;
  text-transform: capitalize;
}

.type-area {
  margin-bottom: 10px;
}

.normal {
  background-color: $normal-type;
  border-top-color: #d8d8d0;
  border-bottom-color: #705848;
}

.fire {
  background-color: $fire-type;
  border-top-color: #f8d030;
  border-bottom-color: #c03028;
}

.water {
  background-color: $water-type;
  border-top-color: #98d8d8;
  border-bottom-color: #807870;
}

.grass {
  background-color: $grass-type;
  border-top-color: #c0f860;
  border-bottom-color: #588040;
}

.electric {
  background-color: $electric-type;
  border-top-color: #f8f878;
  border-bottom-color: #b8a038;
}

.ice {
  background-color: $ice-type;
  border-top-color: #d0f8e8;
  border-bottom-color: #9090a0;
}

.fighting {
  background-color: $fighting-type;
  border-top-color: #f08030;
  border-bottom-color: #484038;
}

.poison {
  background-color: $poison-type;
  border-top-color: #d880b8;
  border-bottom-color: #483850;
}

.ground {
  background-color: $ground-type;
  border-top-color: #f8f878;
  border-bottom-color: #886830;
}

.flying {
  background-color: $flying-type;
  border-top-color: #c8c0f8;
  border-bottom-color: #705898;
}

.psychic {
  background-color: $psychic-type;
  border-top-color: #f8c0b0;
  border-bottom-color: #789010;
}

.bug {
  background-color: $bug-type;
  border-top-color: #d8e030;
  border-bottom-color: #a8b820;
}

.rock {
  background-color: $rock-type;
  border-top-color: #e0c068;
  border-bottom-color: #886830;
}

.ghost {
  background-color: $ghost-type;
  border-top-color: #a890f0;
  border-bottom-color: #483850;
}

.dark {
  background-color: $dark-type;
  border-top-color: #a8a878;
  border-bottom-color: #484038;
}

.dragon {
  background-color: $dragon-type;
  border-top-color: #b8a0f8;
  border-bottom-color: #483890;
}

.steel {
  background-color: $steel-type;
  border-top-color: #d8d8c0;
  border-bottom-color: #807870;
}

.fairy {
  background-color: $fairy-type;
  border-top-color: #f5cad1;
  border-bottom-color: #905f63;
}

.dual-type-bg {
  background: linear-gradient(135deg, $fire-type-bg 50%, $water-type-bg 50%);
}

.ability-table {
  margin-top: 35px;
}

#sortAbilityOptions {
  margin-top: 20px;
}

ol.move-stats {
  padding-left: 0;
}

ol.move-stats li {
  list-style-type: none;
}

.move-table-body tr,
.ability-table-body tr {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.pokemon-background-normal {
  background: $normal-type-bg;
}

.pokemon-background-fire {
  background: $fire-type-bg;
}

.pokemon-background-water {
  background: $water-type-bg;
}

.pokemon-background-grass {
  background: $grass-type-bg;
}

.pokemon-background-electric {
  background: $electric-type-bg;
}

.pokemon-background-ice {
  background: $ice-type-bg;
}

.pokemon-background-fighting {
  background: $fighting-type-bg;
}

.pokemon-background-poison {
  background: $poison-type-bg;
}

.pokemon-background-ground {
  background: $ground-type-bg;
}

.pokemon-background-flying {
  background: $flying-type-bg;
}

.pokemon-background-psychic {
  background: $psychic-type-bg;
}

.pokemon-background-bug {
  background: $bug-type-bg;
}

.pokemon-background-rock {
  background: $rock-type-bg;
}

.pokemon-background-ghost {
  background: $ghost-type-bg;
}

.pokemon-background-dark {
  background: $dark-type-bg;
}

.pokemon-background-dragon {
  background: $dragon-type-bg;
}

.pokemon-background-steel {
  background: $steel-type-bg;
}

.pokemon-background-fairy {
  background: $fairy-type-bg;
}

@media screen and (max-width: 700px) {
  .pokedex-logo {
    width: 75%;
  }

  .section-button {
    padding: 10px;
  }

  // ********************** HAMBURGER MENU TESTING **********************

  .section-pages {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .show {
    display: flex;
  }

  .hamburger {
    display: block;
  }
  // ********************** HAMBURGER MENU TESTING **********************

  .modal-pokemon-img {
    width: 100%;
    margin-left: 0;
    margin-top: -70px;
  }

  .pokemon-info {
    display: flex;
    flex-direction: column-reverse;
  }

  .modal-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sort-filter-area {
    margin: 5px 0;
    display: flex;
    flex-flow: column wrap;
  }

  .ability-id,
  .pokemon-with-move,
  .move-id {
    display: none;
  }

  .move-table-font-size {
    font-size: 14.75px;
  }
}
